backcall 
blis 
Bottleneck 
brotlipy==0.7.0
catalogue 
certifi==2021.5.30
cffi 
chardet 
charset-normalizer 
click==7.1.2
colorama 
cryptography 
cycler==0.10.0
cymem 
dataclasses 
debugpy 
decorator 
entrypoints==0.3
Flask==1.1.2
idna 
ipykernel 
ipython 
ipython-genutils
itsdangerous==1.1.0
jedi 
Jinja2 
joblib 
jupyter-client 
jupyter-core 
kiwisolver 
MarkupSafe 
matplotlib 
matplotlib-inline 
murmurhash 
nest-asyncio 
nltk 
numexpr 
numpy 
olefile 
packaging 
pandas 
parso 
pathy 
pickleshare 
Pillow 
preshed 
prompt-toolkit 
pycparser 
pydantic 
Pygments 
pyOpenSSL 
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks 
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pyzmq 
regex 
requests 
scikit-learn 
scipy 
shellingham 
six==1.15.0
smart-open 
spacy 
spacy-legacy 
srsly
thinc 
threadpoolctl 
tornado 
tqdm 
traitlets 
typer 
typing-extensions 
urllib3 
vaderSentiment 
wasabi 
wcwidth 
Werkzeug==1.0.1
win-inet-pton 
